/home/dwong/Documents/Software/magiq/pints/experiments/GLU-OPT-PAPER
/home/dwong/Documents/Software/magiq/pints/experiments/GLU-OPT-PAPER
/home/dwong/Documents/Software/magiq/pints/experiments/OLD
/home/dwong/Documents/Software/magiq/pints/experiments/LASER_sim_multimetabolite
/home/dwong/Documents/Software/magiq/pints/experiments/7T-HUMAN-STUDY
/home/dwong/Documents/Software/magiq/pints/experiments/9.4T_MOUSE-STUDY
/home/dwong/Documents/Software/magiq/pints/cstinfo/OLD
/home/dwong/Documents/Software/magiq/pints/metabinfo/OLD
/home/dwong/Documents/Software/magiq/pints/metabolites/change_field_strength.py
/home/dwong/Documents/Software/magiq/fitman/Fitman.cfg
/home/dwong/Documents/Software/magiq/.ipynb_checkpoints
/home/dwong/Documents/Software/magiq/barstool/qinfo/OLD/
/home/dwong/Documents/Software/magiq/barstoolrv_quant-test.ipynb
/home/dwong/Documents/Software/magiq/barstoolrv/csf-extract-test.ipynb
